@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Yeon Sung', cursive; 
    font-family: 'Mochiy Pop One', sans-serif;  
}
body{
    background-color: #08086d;
    color: wheat;
    
}
.App{
    text-align: center;
}